<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Final Project</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
    <header class="d-flex justify-content-center text-light fs-5 py-4 bg-primary shadow">
        Computational Mathematics App
    </header>

    <div class="container mt-4">
        <!-- Tabs for selecting tasks -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#" onclick="loadTask('task1')">Task 1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadTask('task2')">Task 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadTask('task3')">Task 3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadTask('task4')">Task 4</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadTask('task5')">Task 5</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadTask('task6')">Task 6</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadTask('task7')">Task 7</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="loadTask('task8')">Task 8</a>
            </li>
        </ul>

        <!-- Content Section -->
        <div id="content" class="mt-3">
            <p>Select a task to view its content.</p>
        </div>
    </div>

    <script>
        // Loading the first task at the beginning by default
        loadTask('task1')

        function loadTask(task) {
            // This function returns html data for the tasks
            fetch(`tasks/${task}.html`)
                .then(response => response.text())
                .then(html => {
                    document.getElementById("content").innerHTML = html;  // here it's updating content section in index.html
                })
                .catch(error => console.error("Error loading task:", error));
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>